@import './init.scss';
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    // backdrop-filter: blur(10px);
    transition: opacity 0.3s ease;
  }
  
  .modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .modal-container {
    max-width: 271px;
    // height: 249px;
    margin: 0px auto;
    padding:15px;
    background-color: $c2_dark;
    border-radius: 28px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    // transition: all 0.3s ease;
    animation: bounce-in 0.2s;
  }
  
  
  .modal-container-full{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 12px;
    background-color: $c2_dark;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
  }
  
  .modal-body {
    height: 100%;
  }
  
  @keyframes bounce-in {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @media screen and (max-width: 800px) {
    .modal-container-big {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  
  @media screen and (max-width: 510px) {
    .modal-container-big {
      padding: 12px;
      height: 100%;
    }
    .modal-button {
      font-size: 16px;
    }
  
    .modal-accept-button {
      width: 162px;
    }
    .modal-container-big {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  
  @media screen and (max-width: 330px) {
    .modal-container {
      width: 300px;
    }
    .modal-button {
      font-size: 16px;
    }
    .modal-leave-button {
      width: 80px;
    }
    .modal-accept-button {
      width: 152px;
    }
  }
  
  @media screen and (max-height: 900px) {
    .modal-container-big {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
